section.about
  .container
    .title.about__title
      p.title__section-name about
      h2 How It Works
    .about-items-wrap
      .about-slider.js-about-slider
        .about-item
          .about-item__circle
            span
          .about-item__content
            .about-item__label 1
            p.about-item__title Start
            p.about-item__text Leave a request for the purchase of a robot
        .about-item
          .about-item__circle
            span
          .about-item__content
            .about-item__label 2
            p.about-item__title Purchase
            p.about-item__text Make a purchase through the Chat bot in Telegram or manager
        .about-item
          .about-item__circle
            span
          .about-item__content
            .about-item__label 3
            p.about-item__title Register
            p.about-item__text Register with a broker and open an account
        .about-item
          .about-item__circle
            span
          .about-item__content
            .about-item__label 4
            p.about-item__title Set Up
            p.about-item__text Our manager installs a robot for you
        .about-item
          .about-item__circle
            span
          .about-item__content
            .about-item__label 5
            p.about-item__title Deposit
            p.about-item__text Replenish the deposit and the robot begins to trade
        .about-item
          .about-item__circle
            span
          .about-item__content.about-item__content_violet
            .about-item__label.about-item__label_violet 6
            p.about-item__title.about-item__title_violet Trading Bot
            button.btn.btn-white.about-item__btn Buy Now