section.calculator#calc
  .container
    .row.justify-content-md-center
      .col-xl-7.col-lg-7.order-md-2.order-sm-2.order-2.order-xl-0
        .profit
          .profit__top
            .profit__type
              button.profit__btn.profit__btn_active Light Profit
              button.profit__btn Turbo Profit
            span.profit__percent from 6-12%

          //- Range slider
          .range-slider.profit__range-slider
            .range-slider__top
              span.range-slider__title Deposit Amount
              span.range-slider__value $72,000
            input(type="text").range-slider__input
          //- Range slider

          //- Range slider
          .range-slider.profit__range-slider
            .range-slider__top
              span.range-slider__title Placement Period
              span.range-slider__value 3 months
            input(type="text").range-slider__input
          //- Range slider

          .profit__functions
            span.profit__name Interest Accrual
            .profit__func-btns
              button.profit__btn.profit__btn_small.profit__btn_active Add to Deposit
              button.profit__btn.profit__btn_small Withdraw Monthly
          .profit__bottom
            .revenue.profit__revenue
              p.revenue__price #[span.revenue__percent %] 13,850
              .revenue__title 
                span avarage
                span return
            button.btn.btn-violet Start Earning


      .col-xl-4.offset-xl-1.col-lg-5.col-md-8.offset-lg-0
        //- Section title
        .title.calculator__title
          p.title__section-name calculator
          h2 Calculate the Profitability of the Bot
          p.title__description Eliminate all indirect links between advertisers and publishers by applying smart contracts for all types of tracking.
        //- Section title


