section.case
  .container
    .row.justify-content-md-center
      .col-xl-7.col-lg-7.order-md-2.order-xl-0
        .case-slider-wrap
          button.case-slider__btn.js-case-slider-prev
            i.fa.fa-angle-left(aria-hidden="true")
          .case-slider.js-case-slider
            .case-slider__slide
              img(src="./img/slide-1.png", alt="")
            .case-slider__slide
              img(src="./img/slide-1.png", alt="")
            .case-slider__slide
              img(src="./img/slide-1.png", alt="")
            .case-slider__slide
              img(src="./img/slide-1.png", alt="")
            .case-slider__slide
              img(src="./img/slide-1.png", alt="")
          button.case-slider__btn.case-slider__btn_right.js-case-slider-next
            i.fa.fa-angle-right(aria-hidden="true")
          .case-slider__dots.js-slider-dots

      .col-xl-4.offset-xl-1.col-lg-5.col-md-7
        .title.case__title
          p.title__section-name CASE
          h2 Partner Results
        .flawless.case__flawless
          .flawless__line
            span.flawless__subtitle Deposit amount
            span.flawless__value #[span $] 3,000
          .flawless__line
            span.flawless__subtitle Aug-Sep 2019 Earnings
            span.flawless__value  42 #[span %]
          .revenue.feedback__revenue
            p.revenue__price #[span.revenue__percent $] 4,850
            .revenue__title 
              span Total 
              span revenue
          button.btn.btn-violet.flawless__btn Start Earning