section.cookies
  .container
    .cookies__content
      p.cookies__text This site uses cookies to provide you with a great user experience. By using this site, you accept our #[span use of cookies.]
      button.btn.btn-violet.js-accept-cookies.cookies__btn Accept
