section.details#features
  .container
    .title.details__title
      p.title__section-name features
      h2 Quality in Detail
    .detail-items.js-detail-items
      .detail-item
        .detail-item__img
          span.icon-icon-logic
        .detail-item__text
          h3 New logic of work and entry points
          p.detail-item__description Now the rules of entry are more logical. The probability of opening deals on BUY and SELL is approximately equal.
      .detail-item
        .detail-item__img
          span.icon-icon-stop
        .detail-item__text
          h3 Running Trailing Stop
          p.detail-item__description Trade is many times better. So that trades trailed in the stop, you need to take profit to set large or even remove.
      .detail-item
        .detail-item__img
          span.icon-icon-trades
        .detail-item__text
          h3 Trades are opened with a new candle
          p.detail-item__description After start on the timeframe set in the settings. (When restarting the trading bot, new positions won’t be opened).
      .detail-item
        .detail-item__img
          span.icon-icon-rocket
        .detail-item__text
          h3 Trading is more efficient
          p.detail-item__description If strategies trade on different timeframes, a situation can often arise when one system trades on BUY.
      .detail-item
        .detail-item__img
          span.icon-icon-parametr
        .detail-item__text
          h3 Parameter lot_decimal
          p.detail-item__description Indicated to what accuracy it is necessary to round the lot in transactions. If you set 0, then the system itself.
      .detail-item
        .detail-item__img
          span.icon-icon-order
        .detail-item__text
          h3 When opening and modifying orders
          p.detail-item__description In the logs, the opening logic and all errors are written, as well as a message: what was the price for sending.
      .detail-item
        .detail-item__img
          span.icon-icon-trans
        .detail-item__text
          h3 Take Profit on transactions
          p.detail-item__description Is checked every tick. If you manually close the deal or move TP, the system will recalculate everything.
      .detail-item
        .detail-item__img
          span.icon-icon-check
        .detail-item__text
          h3 In the calculation of opening prices 
          p.detail-item__description Levels of setting TP, Thrall SL expert makes calculations from the true opening price. (Opening price including).