section.faq#faq
  .container
    .title.faq__title
      p.title__section-name info
      h2 FAQ
    .row
      .col-xl-6.col-lg-6
        .faq-item
          .faq-item__top.js-faq
            p.faq-item__title Does the bot earn always?
            span.faq-item__icon +
          p.faq-item__text Our company has been actively helping customers solve their business problems for more than 20 years. The experience gained over all this time helps us to optimally approach the execution of orders and successfully build the process of work on the project.
        .faq-item
          .faq-item__top.js-faq
            p.faq-item__title The minimum amount of the broker’s realization of the balance?
            span.faq-item__icon +
          p.faq-item__text Our company has been actively helping customers solve their business problems for more than 20 years. The experience gained over all this time helps us to optimally approach the execution of orders and successfully build the process of work on the project.
      .col-xl-6.col-lg-6
        .faq-item
          .faq-item__top.js-faq
            p.faq-item__title What are the warranties?
            span.faq-item__icon +
          p.faq-item__text Our company has been actively helping customers solve their business problems for more than 20 years. The experience gained over all this time helps us to optimally approach the execution of orders and successfully build the process of work on the project.
        .faq-item
          .faq-item__top.js-faq
            p.faq-item__title Why for  Forex4you broker?
            span.faq-item__icon +
          p.faq-item__text Our company has been actively helping customers solve their business problems for more than 20 years. The experience gained over all this time helps us to optimally approach the execution of orders and successfully build the process of work on the project.
        .faq-item
          .faq-item__top.js-faq
            p.faq-item__title How does the bot work?
            span.faq-item__icon +
          p.faq-item__text Our company has been actively helping customers solve their business problems for more than 20 years. The experience gained over all this time helps us to optimally approach the execution of orders and successfully build the process of work on the project.
      
            
      
    
    .faq__btn
      button.btn.btn-white Show More
