section.feedback
  .container
    .row.justify-content-md-center
      .col-xl-6.col-lg-6.col-md-12.order-md-2.order-sm-2.order-2
        .feedback__video-items.js-feedback__video-items

          //- Video
          .video-item.feedback__video-item
            img(src="./img/video.jpg", alt="").video-item__img
            img(src="./img/play.svg", alt="").video-item__play
          //- Video

          //- Video
          .video-item.feedback__video-item
            img(src="./img/video.jpg", alt="").video-item__img
            img(src="./img/play.svg", alt="").video-item__play
          //- Video
          
          //- Video
          .video-item.feedback__video-item
            img(src="./img/video.jpg", alt="").video-item__img
            img(src="./img/play.svg", alt="").video-item__play
          //- Video
          
          //- Video
          .video-item.feedback__video-item
            img(src="./img/video.jpg", alt="").video-item__img
            img(src="./img/play.svg", alt="").video-item__play
          //- Video
          
          //- Video
          .video-item.feedback__video-item
            img(src="./img/video.jpg", alt="").video-item__img
            img(src="./img/play.svg", alt="").video-item__play
          //- Video
          
          //- Video
          .video-item.feedback__video-item
            img(src="./img/video.jpg", alt="").video-item__img
            img(src="./img/play.svg", alt="").video-item__play
          //- Video
          
          //- Video
          .video-item.feedback__video-item
            img(src="./img/video.jpg", alt="").video-item__img
            img(src="./img/play.svg", alt="").video-item__play
          //- Video
          
          //- Video
          .video-item.feedback__video-item
            img(src="./img/video.jpg", alt="").video-item__img
            img(src="./img/play.svg", alt="").video-item__play
          //- Video
          
      .col-xl-4.offset-xl-2.col-lg-5.offset-lg-1.col-md-6
        .title.feedback__title
          p.title__section-name feedback
          h2 Reviews
        .flawless.feedback__flawless
          .flawless__top
            img(src="./img/avatar.jpg", alt="").flawless__img
            .flawless__text
              span.flawless__name Jason Bailey
              span.flawless__place Los Angeles, CA
          .flawless__title-star
            span.flawless__title Flawless
            .flawless__stars
              i.fa.fa-star.flawless__star(aria-hidden="true")
              i.fa.fa-star.flawless__star(aria-hidden="true")
              i.fa.fa-star.flawless__star(aria-hidden="true")
              i.fa.fa-star-o.flawless__star(aria-hidden="true")
              i.fa.fa-star-o.flawless__star(aria-hidden="true")
          .flawless__line
            span.flawless__subtitle Deposit amount
            span.flawless__value #[span $] 3,000
          .flawless__line
            span.flawless__subtitle Aug-Sep 2019 Earnings
            span.flawless__value  42 #[span %]
          .revenue.feedback__revenue
            p.revenue__price #[span.revenue__percent $] 13,850
            .revenue__title 
              span avarage
              span return
          button.btn.btn-violet.flawless__btn Buy a Trading Bot
            