footer.footer
  .container
    .footer-top.footer__top
      a(href="").footer__logo
        img(src="./img/logo.png", alt="")
      .footer-top__lang
        img(src="./img/united-kingdom.svg", alt="")
      .input.footer-top__input
        input(type="text", placeholder="Email").input__input
        button.btn.footer-top__btn
          i.fa.fa-angle-right(aria-hidden="true")
      .footer-top__socials
        a(href="#").footer-top__social
          i.fa.fa-telegram(aria-hidden="true")
        a(href="#").footer-top__social
          i.fa.fa-facebook-square(aria-hidden="true")
        a(href="#").footer-top__social
          i.fa.fa-vk(aria-hidden="true")
        a(href="#").footer-top__social
          i.fa.fa-instagram(aria-hidden="true")
        a(href="#").footer-top__social
          span.icon-social
        a(href="#").footer-top__social
          i.fa.fa-whatsapp(aria-hidden="true")
    .footer-links
      ul.footer-links__list
        li.footer-links__item
          a(href="").footer-links__link Home
        li.footer-links__item
          a(href="").footer-links__link.js-link(data-link="calc") Calc
        li.footer-links__item
          a(href="").footer-links__link.js-link(data-link="product") product
        li.footer-links__item
          a(href="").footer-links__link.js-link(data-link="reviews") reviews
        li.footer-links__item
          a(href="").footer-links__link.js-link(data-link="strategies") strategies
        li.footer-links__item
          a(href="").footer-links__link.js-link(data-link="features") features
      ul.footer-links__list
        li.footer-links__item
          a(href="").footer-links__link.js-link(data-link="partners") partners
        li.footer-links__item
          a(href="").footer-links__link.js-link(data-link="case") case
        li.footer-links__item
          a(href="").footer-links__link.js-link(data-link="howItWorks") how it works
        li.footer-links__item
          a(href="").footer-links__link.js-link(data-link="faq") faq
        li.footer-links__item
          a(href="").footer-links__link.js-link(data-link="start") start earning
    .footer-bottom
      span.footer-bottom__item © PlanetAssets, 2019. All rights reserved.
      a(href="").footer-bottom__item.footer-bottom__item_50 Privacy Policy
      a(href="").footer-bottom__item.footer-bottom__item_50 Terms & Conditions
      a(href="").footer-bottom__item.footer-bottom__item_50 Website Disclaimers
      a(href="").footer-bottom__item.footer-bottom__item_50 made by #[span roobinium]




