header.header
  .container
    img(src="./img/bg-img-1.jpg", alt="").header__bg-img
    .row
      .col-xl-6.col-lg-7.col-md-7
        .main-title
          h1 Earn on the Trading Bot from 10% per Month Without Risks and Forex Knowledge
        .main-title__btns
          button.btn.btn-violet.main-title__btn Buy a Trading Bot
          button.btn.btn-white.main-title__btn Demo Mode
      .col-xl-3.offset-xl-3.col-lg-4.offset-lg-1.col-md-5.col-sm-8.offset-sm-2.offset-md-0
        .main-slider.js-main-slider
          .main-slide
            .main-slide__top
              .main-slide__imgWrapper.main-slide__imgWrapper-violet
                span.icon-icon-2.main-slide__icon
              .main-slide__btns
                button.main-slide__btn.js-main-prev-btn
                  i.fa.fa-angle-left(aria-hidden="true")
                button.main-slide__btn.js-main-next-btn
                  i.fa.fa-angle-right(aria-hidden="true")
            p.main-slide__title Total Daily Earnings 
            p.main-slide__text A platform for automating the purchase of advertising
          .main-slide
            .main-slide__top
              .main-slide__imgWrapper.main-slide__imgWrapper-orange
                span.icon-icon-1.main-slide__icon
              .main-slide__btns
                button.main-slide__btn.js-main-prev-btn
                  i.fa.fa-angle-left(aria-hidden="true")
                button.main-slide__btn.js-main-next-btn
                  i.fa.fa-angle-right(aria-hidden="true")
            p.main-slide__title Number of Users
            p.main-slide__text A platform for automating the purchase of advertising
          .main-slide
            .main-slide__top
              .main-slide__imgWrapper.main-slide__imgWrapper-pink
                span.icon-icon-3.main-slide__icon
              .main-slide__btns
                button.main-slide__btn.js-main-prev-btn
                  i.fa.fa-angle-left(aria-hidden="true")
                button.main-slide__btn.js-main-next-btn
                  i.fa.fa-angle-right(aria-hidden="true")
            p.main-slide__title Total Daily Profit
            p.main-slide__text A platform for automating the purchase of advertising
        .slider-dots


