section.partners
  .container

    //- Section title
    .title.partners__title
      p.title__section-name partners
      h2 3 Reliable Broker Partners
    //- Section title


    .partners__wrap
      .row.justify-content-md-center
        //- Partner item
        .col-xl-4.col-lg-4.col-md-6
          .partner
            .partner__img
              img(src="./img/partner-1.png", alt="").light-img
              img(src="./img/partner-1-d.png", alt="").dark-img
        //- Partner item

        //- Partner item
        .col-xl-4.col-lg-4.col-md-6
          .partner
            .partner__img
              img(src="./img/partner-2.png", alt="")
        //- Partner item

        //- Partner item
        .col-xl-4.col-lg-4.col-md-6
          .partner
            .partner__img
              img(src="./img/partner-3.png", alt="")
        //- Partner item

    .partners__advantages
      .row
        .col-xl-2.col-lg-3.col-md-4.col-sm-6.col-6
          .adv
            .adv__img-wrap
              span.icon-part-1
            .revenue.partners__revenue
              p.revenue__price 24/7
              .revenue__title 
                span Withdraw 
                span funds
        .col-xl-2.col-lg-3.col-md-4.col-sm-6.col-6
          .adv
            .adv__img-wrap
              span.icon-part-2
            .revenue.partners__revenue
              p.revenue__price 100 #[span.revenue__percent %] 
              .revenue__title 
                span minimal 
                span deposit
        .col-xl-2.col-lg-3.col-md-4.col-sm-6.col-6
          .adv
            .adv__img-wrap
              span.icon-part-3
            .revenue.partners__revenue
              p.revenue__price 1:1k 
              .revenue__title 
                span leverage
        .col-xl-2.col-lg-3.col-md-4.col-sm-6.col-6
          .adv
            .adv__img-wrap
              span.icon-part-4
            .revenue.partners__revenue
              p.revenue__price 50 
              .revenue__title 
                span currency 
                span pairs
        .col-xl-2.col-lg-3.col-md-4.col-sm-6.col-6
          .adv
            .adv__img-wrap
              span.icon-part-5
            .revenue.partners__revenue
              p.revenue__price 10 #[span.revenue__percent YEARS]
              .revenue__title 
                span as leading 
                span brokers
        .col-xl-2.col-lg-3.col-md-4.col-sm-6.col-6
          .adv
            .adv__img-wrap
              span.icon-part-6
            .revenue.partners__revenue
              p.revenue__price 50 #[span.revenue__percent %]
              .revenue__title 
                span Affiliate 
                span Payouts


    .partners__pay
      .row.justify-content-md-center
        //- Pay item
        .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6
          .pay-item.pay-item_visa
            .pay-item__img
              img(src="./img/pay-1.png", alt="")
        //- Pay item

        //- Pay item
        .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6
          .pay-item.pay-item_mastercard
            .pay-item__img
              img(src="./img/pay-2.png", alt="")
        //- Pay item

        //- Pay item
        .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6
          .pay-item.pay-item_qiwi
            .pay-item__img
              img(src="./img/pay-3.png", alt="")
        //- Pay item

        //- Pay item
        .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6
          .pay-item.pay-item_net
            .pay-item__img
              img(src="./img/pay-4.png", alt="")
        //- Pay item

        //- Pay item
        .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6
          .pay-item.pay-item_skrill
            .pay-item__img
              img(src="./img/pay-5.png", alt="")
        //- Pay item

        //- Pay item
        .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6
          .pay-item.pay-item_webmoney
            .pay-item__img
              img(src="./img/pay-6.png", alt="")
        //- Pay item




    
    