section.product#product
  .container
    .row.justify-content-md-center
      .col-xl-5.col-lg-5.col-md-7
        .title.product__title
          p.title__section-name our product
          h2 Planet Assets Trading Bot
          p.title__description This is a program created by professional traders and programmers, combining all the most modern strategies and techniques of market analysis. The programmed algorithm makes transactions on the exchange in automatic mode 24/5 at the specified
      .col-xl-6.offset-xl-1.col-lg-7.offset-lg-0
        .row

          //- Item
          .col-xl-6.col-lg-6.col-md-6.col-sm-6
            .product-item
              .product-item__wrapper
                span.product-item__icon.icon-icon-4
              span.product-item__text Free Update
          //- Item

          //- Item
          .col-xl-6.col-lg-6.col-md-6.col-sm-6
            .product-item
              .product-item__wrapper
                span.product-item__icon.icon-icon-5
              span.product-item__text Support 24/7
          //- Item

          //- Item
          .col-xl-6.col-lg-6.col-md-6.col-sm-6
            .product-item
              .product-item__wrapper
                span.product-item__icon.icon-icon-6
              span.product-item__text Telegram Assistant Bot
          //- Item

          //- Item
          .col-xl-6.col-lg-6.col-md-6.col-sm-6
            .product-item
              .product-item__wrapper
                span.product-item__icon.icon-icon-7
              span.product-item__text 70% Annual Guarantee
          //- Item

          //- Item
          .col-xl-6.col-lg-6.col-md-6.col-sm-6
            .product-item
              .product-item__wrapper
                span.product-item__icon.icon-icon-8
              span.product-item__text 2 Types of Settings
          //- Item

          //- Item
          .col-xl-6.col-lg-6.col-md-6.col-sm-6
            .product-item
              .product-item__wrapper
                span.product-item__icon.icon-icon-9
              span.product-item__text 2 Trailing Stop
          //- Item

          //- Item
          .col-xl-6.col-lg-6.col-md-6.col-sm-6
            .product-item
              .product-item__wrapper
                span.product-item__icon.icon-icon-10
              span.product-item__text Trend Protect
          //- Item

          //- Item
          .col-xl-6.col-lg-6.col-md-6.col-sm-6
            .product-item
              .product-item__wrapper
                span.product-item__icon.icon-icon-11
              span.product-item__text Strategy Tester
          //- Item

