section.start
  .container
    .start-wrap
      .row.justify-content-md-center
        .col-xl-4.offset-xl-1.offset-lg-1.col-lg-4.col-md-7
          .title.start__title
            p.title__section-name.title__section-name_white Stay up-to-date
            h2.white Trading Bot Earning
            p.title__description.title__description_white Earn on the Trading Bot from 10% per month without risks and Forex knowledge
        .col-xl-5.offset-xl-1.col-lg-6.offset-lg-0.col-md-8
          form.form(action="")
            p.form__title Start Earning
            .input.form__input
              input(type="text", placeholder="Name").input__input
            .input.form__input
              input(type="text", placeholder="Phone Number").input__input
            .input.form__input
              input(type="text", placeholder="Email").input__input
            .checkbox.form__checkbox
              input#link(type="checkbox", name="").checkbox__input
              label(for="link").checkbox__label 
                span By checking this checkbox I confirm that I agree to the #[a(href="#").checkbox__link Privacy Policy, Terms & Conditions] and #[a(href="#").checkbox__link Website Disclaimers]
            .form__bottom
              button.btn.btn-violet.form__btn Start Earning
              .form__socials
                a(href="").form__social
                  span.icon-social
                a(href="").form__social
                  i.fa.fa-telegram(aria-hidden="true")
                a(href="").form__social
                  i.fa.fa-whatsapp(aria-hidden="true")
                a(href="").form__social
                  i.fa.fa-facebook-square(aria-hidden="true")