section.strategy
  .container
    .row
      .col-xl-3.col-lg-4
        //- Section title
        .title.strategy__title
          p.title__section-name Trading strategies
          h2 FX Assets
          p.title__description Three independent strategies! Each of them is independent, there are moments that unite them, for example, take profit size, but the entry points to the market for these strategies are different.
        //- Section title

      .col-xl-8.offset-xl-1.col-lg-8
        .strategy-slider.js-strategy-slider
          .strategy-wrapper
            .strategy-slide
              .strategy-slide__img
                span.strategy-slide__number 1
                img(src="./img/strategy-1.png", alt="")
              .strategy-slide__text
                p.strategy-slide__title Second Strategy
                p.strategy-slide__description What this indicator shows: it has two levels: 1-level 70 and 2-level 30 between these levels, a line is drawn which, when crossing the lower level, indicates that the price is greatly oversold and means that the price will soon rise. It follows that when the line crosses the lower level to the top, the bay transaction opens and when the price moves the upper level down, the sell transaction opens. A very popular strategy described in many technical analysis books.
          .strategy-wrapper
            .strategy-slide
              .strategy-slide__img
                span.strategy-slide__number 1
                img(src="./img/strategy-1.png", alt="")
              .strategy-slide__text
                p.strategy-slide__title Second Strategy
                p.strategy-slide__description What this indicator shows: it has two levels: 1-level 70 and 2-level 30 between these levels, a line is drawn which, when crossing the lower level, indicates that the price is greatly oversold and means that the price will soon rise. It follows that when the line crosses the lower level to the top, the bay transaction opens and when the price moves the upper level down, the sell transaction opens. A very popular strategy described in many technical analysis books.
          .strategy-wrapper
            .strategy-slide
              .strategy-slide__img
                span.strategy-slide__number 1
                img(src="./img/strategy-1.png", alt="")
              .strategy-slide__text
                p.strategy-slide__title Second Strategy
                p.strategy-slide__description What this indicator shows: it has two levels: 1-level 70 and 2-level 30 between these levels, a line is drawn which, when crossing the lower level, indicates that the price is greatly oversold and means that the price will soon rise. It follows that when the line crosses the lower level to the top, the bay transaction opens and when the price moves the upper level down, the sell transaction opens. A very popular strategy described in many technical analysis books.
          