body
  font-family: 'Montserrat', sans-serif
  font-size: 14px
  line-height: 24px
  color: $gray
  font-weight: 500
  background: $white

.dark-img
  display: none !important

h1
  font-size: 48px
  line-height: 48px
  font-weight: bold
  letter-spacing: -2px
  color: $black
  +lg
    font-size: 36px
    line-height: 36px

h2
  font-size: 48px
  line-height: 48px
  font-weight: bold
  letter-spacing: -2px
  color: $black
  &.white
    color: $white

h3
  font-size: 20px
  line-height: 28px
  color: $black
  font-weight: 600
a, button
  color: inherit
  outline: none

button, input, textarea, span, div, a
  outline: none !important
  &:hover
    outline: none !important
  &:focus
    outline: none !important
  &:active
    outline: none !important
