section.top-menu
  .container.top-menu__container
    .top-menu-wrapper
      a(href="").top-menu__logo
        img(src="./img/logo.png", alt="")
      nav.nav.top-menu__nav
        ul.nav__list
          li.nav__item
            a(href="").nav__link Forex4you
          li.nav__item
            a(href="").nav__link How It Works
          li.nav__item-wrapper
            .nav__item.nav__item_margin.js-drop-menu
              a(href="").nav__link More
              i.fa.fa-angle-down.nav__arrow(aria-hidden="true")
            .nav__drop.js-nav-drop
              .nav__drop-item 
                a(href="") Item 1
              .nav__drop-item 
                a(href="") Item 1
              .nav__drop-item 
                a(href="") Item 1
      .dark-mode.top-menu__dark-mode.js-dark-mode
        .toggler.js-toggler-dark-mode
          .toggler__way
          .toggler__circle
        span.dark-mode__label Dark Mode
      .langs.top-menu__langs
        .langs__btn.js-lang
          img(src="./img/russia.svg", alt="").langs__img
          span.langs__text ru
        ul.langs__list
          li.langs__item
            img(src="./img/united-kingdom.svg", alt="")
            span.langs__text en
          li.langs__item
            img(src="./img/russia.svg", alt="")
            span.langs__text ru
          li.langs__item
            img(src="./img/france.svg", alt="")
            span.langs__text fr
      button.btn.btn-violet.top-menu__btn
        i.fa.fa-telegram(aria-hidden="true")
        span Get in Touch
      