section.top-menu-mobile
  .container
    .content
      a(href="").top-menu-mobile__logo
        img(src="./img/logo.png", alt="")
      i.fa.fa-bars(aria-hidden="true").top-menu-mobile__burger.js-burger
    .mobile-drop-wrapper
      .mobile-drop.js-mobile-drop
        .mobile-drop__links
          a(href="").mobile-drop__link Home
          a(href="").mobile-drop__link Calc
          a(href="").mobile-drop__link Product
          a(href="").mobile-drop__link Reviews
          a(href="").mobile-drop__link Strategies
          a(href="").mobile-drop__link Features
          a(href="").mobile-drop__link Partners
          a(href="").mobile-drop__link Case
          a(href="").mobile-drop__link How it Works
          a(href="").mobile-drop__link FAQ
          a(href="").mobile-drop__link Start Earning
        .dark-mode.mobile-drop__dark-mode.js-dark-mode
          .toggler.js-toggler-dark-mode
            .toggler__way
            .toggler__circle
          span.dark-mode__label Dark Mode
        .mobile-drop__lang.mobile-drop__lang_flex.js-to-langs
          img(src="./img/united-kingdom.svg", alt="").mobile-drop__img
          span English
          i.fa.fa-angle-right(aria-hidden="true").mobile-drop__arrow
        button.btn.btn-violet.mobile-drop__btn
          i.fa.fa-telegram(aria-hidden="true")
          span Get in Touch
      .langs-drop.js-langs-drop
        .langs-drop__top.js-to-drop
          i.fa.fa-angle-left(aria-hidden="true")
          span.lang-drop__text English
          img(src="./img/united-kingdom.svg", alt="")
        a(href="", title="").mobile-drop__lang
          img(src="./img/united-kingdom.svg", alt="").mobile-drop__img
          span English
        a(href="", title="").mobile-drop__lang
          img(src="./img/united-kingdom.svg", alt="").mobile-drop__img
          span English