// Blocks
@import './blocks/_main-title'
@import './blocks/_main-slider'

.header
  padding: 100px 0 144px
  position: relative
  overflow: hidden
  background-image: url('../img/bg-header.jpg')
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  +md
    overflow: hidden
    padding: 0 0 120px
    background-image: url('../img/bg-header-m.jpg')
    background-size: contain
  .container
    position: relative
    +md-one(position, initial)
  