.faq-item
  position: relative
  padding: 24px
  +shadow
  background: $white
  border-radius: 12px
  margin-bottom: 16px
  &__top
    display: flex
    align-items: flex-start
    justify-content: space-between
    font-size: 18px
    line-height: 24px
    color: $black
    cursor: pointer
  &__icon
    font-size: 50px
    color: rgba(20, 16, 41, 0.4)
  &__text
    display: none
    margin-top: 24px
    +md-one(padding-right, 40px)